*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
 font-family: "Mulish", sans-serif;
 
}

/* some similler things  */
.primary-color-text{
    color: #FF5400;
}
.secondary-color-text{
    color: #131318;
}
.small-text-color{
    color: #424247;
}
.fluid-img{
    width: 100%;
}
/* header section styles here  */
header{
    max-width: 1440px;
    margin: 0 auto;
}
.logo-content{
    display: flex;
    align-items: center;
}
.logo-content-text{
    font-size: 2.25rem;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul a {
    text-decoration: none;
    margin-left: 44px;
    font-size: 1.25rem;
}
/* banner section styles here  */
.banner-container{
    display: flex;
    flex-direction: column;
}
.banner-section{
    height: 90vh;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 60px;
}
.banner-content{
}
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;

}
.banner-des{
    color: #FFF;
    font-size: 1rem;
}
.input-values{
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.30); 
    border-radius: 8px;
    margin-top: 3.5rem;
}
.input-values input{
    color: rgba(19, 19, 24, 0.50);
    padding: 1rem;
    width: 174px;
    border: none;
    border-radius: 8px;
}
.input-values select{
    border: none;
    width: 174px;
    padding: 1rem;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
}
.btn-sub{
    background-color: #FF5400;
    color: #FFF;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    width: 174px;
}
/* populer section styles here  */
main{
    max-width: 1400px;
    margin: 0 auto;
}
.populer-tour-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.populer-tour-texts{
    width: 48%;
}
.populer-tour-img{
    width: 48%;
    align-items: center;
}
.populer-tour-texts> p{
    margin-top: 24px;
    margin-bottom: 24px;
}

.populer-tour-texts> ul{
    margin-left: 20px;
}
.populer-tour-texts> ul li{
    margin-top: 16px;
    margin-bottom: 16px;
}






@media screen and (max-width:600px) {
    header{
        width: auto;
        border: 1px solid peru;
    }
    nav > ul{
        visibility: hidden;
    }
    .logo-content-text {
        font-size: 1.5rem;
    }
    .banner-title{
        font-size: 2.25rem;
    }
     .banner-section{
        width: 100%;
     }
     .banner-content{
        width: auto;
        margin-bottom: 40px;
     }
     .input-values{
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
     }
     .populer-tour-section{
        flex-direction: column;
        width: auto;
        border: 1px solid #FF5400;
     }
     .populer-tour-section{
        flex-direction: column;
        width: auto;
        padding: 20px;

     }
     .input-values select, .btn-sub, .input-values input{
        width: auto;
     }
     .populer-tour-texts, .populer-tour-img{
        width: 100%;
        border: 1px solid red;
     }
     .fluid-img{
        width: 100%;
     }
}
